body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #EEEEEE;
  background-size: cover;
  background-position: 0 15em;
    /* Typography Declarations */
    color: #5c5650;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
}

h1 {
  color: #999999;
  font-size: 1.8em;
  padding: 0;
  margin: 1.3em 0 1.3em 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: 400;
  /* text-transform: uppercase; */
  letter-spacing: 0.03em;
}

p{
	color: #5c5650;
	font-size: 1em;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

.masthead {
	padding: 0.5em 0 0 0;
	background-color: #FFFFFF;
	background-size: cover;
	width: 100%;
	/* max-width: 25em; */
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 0.4em #AAAAAA;
}

.quiz {
	background-image: url('../images/safeco.jpg');
	background-size: cover;
	text-align: center;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
}

.question {
	color: #FFFFFF;
	font-size: 1.8em;
	padding: 2em;
	margin: 6em 0 0 0;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	text-shadow: 0px 0px 3px #777777;
	font-weight: 700;
	letter-spacing: 0.03em;
}

.answer {
	color: #5c5650;
	font-size: 1.6em;
	padding: 2em;
	margin: 3em 0 1em 0;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	letter-spacing: 0.02em;
}

.solution {
	background-color: white;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 2em;
	border: 0;
	margin: 0 0.3em 0 0.3em;
	height: 1.6em;
	width: 1.6em;
	display: inline-block;
	color: #5e554f;
	text-align: center;
}

.solution:hover {
	box-shadow: 0px 0px 14px #ffff00;
}

.rules, .reset {
	background-color: transparent;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 1em;
	border: 0.17em solid #FFFFFF;
	margin: 0 0.7em 1.5em 0.7em;
	padding: 0.2em;
	height: 2.1em;
	width: 7em;
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	box-shadow: 0px 0px 8px #5e554f;
	text-shadow: 0px 0px 5px #5e554f;
}

.rules:hover, .reset:hover {
	box-shadow: 0px 0px 14px #66b2ff;
	text-shadow: 0px 0px 5px #66b2ff;
}

.progress {
	background-color: #FFFFFF;
	border: 0;
	border-radius: 50%;
	margin: 0 0.7em 1.5em 0.7em;
	height: 2.1em;
	width: 2.1em;
	display: inline-block;
	text-align: center;
	box-shadow: 0px 0px 8px #766d67;
	vertical-align: bottom;
}

.footer {
	padding: 2em 0;
	/*background-color: #B6B7B6;*/
	width: 100%;
	/* max-width: 25em; */
	margin-left: auto;
	margin-right: auto;
	border-top: solid 0.4em #AAAAAA;
}

.mercato-logo {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.7em;
	margin-left: auto;
	margin-right: auto;
}
